# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# evaluation audio files. These will be BIG size
/assets/evals

# ignore vscode env
.vscode

# ignore test outputs
/test/outputs/tmp.xlsx
/test/outputs/plots/
/test/outputs/excels/
/test/outputs/HCDF/
/test/outputs/*.csv
/test/outputs/cross_validations/

~$*.xlsx

# python
.python-version
.venv

# temporary ignoring
assets/csv/osawa/
